td {
    text-align: center;
}

table {
    width: 70%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

th {
    border: 1px solid black;
    background-color: #275a8c;
    text-align: center;
    color: white;
}