input {
    margin-left: 40px;
    margin-right: 10px;
    height: 30px;
    width: 180px;
    border: 1.5px solid black;
    
}

button {
    height: 25px;
    width: 50px;
    border: 1px solid black;
    font-weight: 500;
    background-color: #8fabc7;
    
    
}